.header{
    position: sticky;
    top: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    transition: 300ms ease;
    &.active{
        background: rgba(14, 51, 135, 0.97);
        box-shadow: 0px 10px 20px rgba(14, 51, 135, 0.12);
        .header__btn{
            color: #0E3387;
            background: #FFFFFF;
        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__buttons{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 18px;
    }
    &__phone{
        font-weight: 300;
        font-size: 15px;
        line-height: 100%;
        color: #FFFFFF;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        width: 160px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms ease;
        &:hover{
            background: rgba(255, 255, 255, 0.1);
        }
    }
    &__btn{
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #FFFFFF;
        background: #0E3387;
        border-radius: 3px;
        width: 132px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms ease;
        &:hover{
            background: #0A2E80;
        }
    }
    .menu{
        cursor: pointer;
        min-width: 46px;
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        position: relative;
        padding-right: 11px;
        transition: 300ms ease;
        &:hover{
            background: rgba(255, 255, 255, 0.1);
        }
        &::before{
            content: '';
            position: absolute;
            width: 24px;
            height: 1px;
            background: #FFFFFF;
            border-radius: 19px;
            top: 13px;
            right: 11px;
            transition: 300ms ease;
        }
        &::after{
            content: '';
            position: absolute;
            width: 24px;
            height: 1px;
            background: #FFFFFF;
            border-radius: 19px;
            bottom: 13px;
            right: 11px;
            transition: 300ms ease;
        }
        &-btn{
            background: #FFFFFF;
            border-radius: 19px;
            width: 19px;
            height: 1px;
        }
        &.active{
            .menu-btn{
                display: none;
            }
            &::before{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &::after{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}