.islands{
    background:url(../img/islands-bg.png)center / cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &__body{
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__content{
        background: rgba(14, 51, 135, 0.2);
        backdrop-filter: blur(120px);
        border-radius: 16px;
        max-width: 688px;
        width: 100%;
        padding: 60px;
        @include media(992){
            padding: 35px 30px;
        }
    }
    &__title{
        font-family: Cormorant;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.95);
        margin-bottom: 24px;
        @include media(992){
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
        }
    }
    &__desc{
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        @include media(992){
            font-weight: 300;
            font-size: 15px;
            line-height: 150%;
        }
    }
}

.obsession{
    background:url(../img/islands-bg.png)center / cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &__body{
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__content{
        background: rgba(14, 51, 135, 0.2);
        backdrop-filter: blur(120px);
        border-radius: 16px;
        max-width: 688px;
        width: 100%;
        padding: 60px;
        @include media(992){
            padding: 35px 30px;
        }
    }
    &__title{
        font-family: Cormorant;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.95);
        margin-bottom: 24px;
        @include media(992){
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
        }
    }
    &__desc{
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        @include media(992){
            font-weight: 300;
            font-size: 15px;
            line-height: 150%;
        }
    }
}