.pictures{
    @include media(1200){
        padding: 60px 0;
        padding-right: 15px;
        padding-left: 15px;
        background: url(../img/pictures-bg.png) center / cover no-repeat;
    }
    &__body{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        @include media(1200){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__title{
        text-align: center;
        font-family: Cormorant;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    &__item{
        line-height: 0 !important;
        @include media(1200){
            display: none;
        }
        &.active{
            display: block;
        }
        img{
            line-height: 0 !important;
            width: 100%;
            height: 100%;
        }
        &_1{
            grid-area: 1 / 1 / 2 / 2;
        }
        &_2{
            grid-area: 1 / 2 / 3 / 4;
        }
        &_3{
            grid-area: 1 / 4 / 3 / 5;
        }
        &_4{
            grid-area: 1 / 5 / 2 / 6;
        }
        &_5{
            grid-area: 1 / 6 / 2 / 7;
        }
        &_6{
            grid-area: 2 / 5 / 4 / 7;
        }
        &_7{
            grid-area: 2 / 1 / 4 / 2;
        }
        &_8{
            grid-area: 3 / 2 / 4 / 3;
        }
        &_9{
            grid-area: 3 / 3 / 5 / 5;
        }
        &_10{
            grid-area: 4 / 5 / 5 / 6;
        }
        &_11{
            grid-area: 4 / 6 / 6 / 7;
        }
        &_12{
            grid-area: 4 / 1 / 6 / 3;
        }
        &_13{
            grid-area: 5 / 3 / 7 / 4;
        }
        &_14{
            grid-area: 5 / 4 / 7 / 6;
        }
        &_15{
            grid-area: 6 / 6 / 7 / 7;
        }
        &_16{
            grid-area: 6 / 1 / 7 / 2;
        }
        &_17{
            grid-area: 6 / 2 / 7 / 3;
        }
        &.pictures__item_video{
            position: relative;
            .pictures__play{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                @include media(992){
                    width: 40px;
                    height: 40px;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}