mixin header()
    header.header
        nav.header__nav.container 
            a(href="index.html").logo 
                img(src="@img/logo.svg", alt="" draggable="false" loading="lazy") 
            .header__buttons 
                a(href="tel::+66619077721").header__phone +66 61 907 7721
                a(href="#!").header__btn.disable-lg Заказать
                .menu 
                    span.menu-btn
                ul.header__list.disable-lg
                    li.header__li 
                        a(href="#!").header__link About 
                    li.header__li 
                        a(href="#!").header__link Charters 
                    li.header__li 
                        a(href="#!").header__link Services 
                    li.header__li 
                        a(href="#!").header__link Contacts 
                    li.header__li 
                        a(href="#!").header__link Technical specifications 
                    li.header__li 
                        a(href="#!").header__link Gallery 
                ul.header__list.enable-lg
                    .header__content.container
                        li.header__li 
                            a(href="#!").header__link About 
                        li.header__li 
                            a(href="#!").header__link Charters 
                        li.header__li 
                            a(href="#!").header__link Services 
                        li.header__li 
                            a(href="#!").header__link Contacts 
                        li.header__li 
                            a(href="#!").header__link Technical specifications 
                        li.header__li 
                            a(href="#!").header__link Gallery
                        a(href="#!").header__btn.enable-lg Заказать  
