doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            .charters 
                .charters__body 
                    .charters__item.charters__item_1
                        .charters__wrappper 
                            span.charters__span Чартер
                            h2.charters__title Остров Рача
                            button(type="button").charters__btn 50 000 THB
                            p.charters__p до 10 человек *
                            p.charters__p Лучшее место для снорклинга, давинга и пляжного отдыха среди ближайших островов Пхукета. Скалистые утесы, прозрачная голубая вода и уютные бухты
                            .charters__content
                                .charters__top
                                    p.charters__subtitle Программа
                                    li.charters__li 9:00  - Выход.
                                    li.charters__li Троллинговая рыбалка.
                                    li.charters__li 13:00  - Прибытие на остров.
                                    li.charters__li Купание. Обед.
                                    li.charters__li 15:00  - Отправление на Пхукет.
                                    li.charters__li Рыбалка.
                                    li.charters__li.mb0 18:00  - Прибытие
                                .charters__bottom 
                                    p.charters__subtitle Включено
                                    li.charters__li.mb0 Фрукты, б/а напитки, обед
                            .charters__p.mb0 *   2000 THB за каждого доп.человека
                            button(type="button").enable-lg.charters__button Закрыть
                    .charters__item.charters__item_2
                        .charters__wrappper
                            span.charters__span Чартер
                            h2.charters__title Остров Корал
                            button(type="button").charters__btn 45 000 THB
                            p.charters__p до 10 человек *
                            p.charters__p Райский остров с белоснежным мелким песком, роскошной тропической растительностью и чистой водой, расположенный в нескольких километрах от Пхукета
                            .charters__content
                                .charters__top 
                                    p.charters__subtitle Программа
                                    li.charters__li 9:00  - Выход.
                                    li.charters__li Троллинговая рыбалка.
                                    li.charters__li 13:00  - Прибытие на остров.
                                    li.charters__li Купание. Обед.
                                    li.charters__li 15:00  - Отправление на Пхукет.
                                    li.charters__li Рыбалка.
                                    li.charters__li.mb0 18:00  - Прибытие
                                .charters__bottom 
                                    p.charters__subtitle Включено
                                    li.charters__li.mb0 Фрукты, б/а напитки, обед
                            .charters__p.mb0 *   2000 THB за каждого доп.человека
                            button(type="button").enable-lg.charters__button Закрыть
                    .charters__item.charters__item_3
                        .charters__wrappper 
                            span.charters__span Чартер
                            h2.charters__title Майтон / Ко Кхай
                            button(type="button").charters__btn 50 000 THB
                            p.charters__p до 10 человек *
                            p.charters__p Райский остров с белоснежным мелким песком, роскошной тропической растительностью и чистой водой, расположенный в нескольких километрах от Пхукета
                            .charters__content
                                .charters__top 
                                    p.charters__subtitle Программа
                                    li.charters__li 9:00  - Выход.
                                    li.charters__li Троллинговая рыбалка.
                                    li.charters__li 13:00  - Прибытие на остров.
                                    li.charters__li Купание. Обед.
                                    li.charters__li 15:00  - Отправление на Пхукет.
                                    li.charters__li Рыбалка.
                                    li.charters__li.mb0 18:00  - Прибытие
                                .charters__bottom 
                                    p.charters__subtitle Включено
                                    li.charters__li.mb0 Фрукты, б/а напитки, обед
                            .charters__p.mb0 *   2000 THB за каждого доп.человека
                            button(type="button").enable-lg.charters__button Закрыть
                    .charters__item.charters__item_4
                        .charters__wrappper 
                            span.charters__span Чартер
                            h2.charters__title Пхи-Пхи
                            .charters__buttons
                                button(type="button").charters__btn 60 000 THB / 1 день
                                button(type="button").charters__btn 100 000 THB / 2 дня**
                            p.charters__p до 10 человек *
                            p.charters__p Острова, которые  считаются одним из всемирно известных курортов Таиланда, полны классических тропических песчаных пляжей,  красивейших лагун, потрясающих скальных образований и ярких бирюзовых вод.
                            .charters__content
                                .charters__top 
                                    p.charters__subtitle Программа
                                    li.charters__li 9:00  - Прибытие на яхту.
                                    li.charters__li 10:00  - Выход
                                    li.charters__li 13:00  - Прибытие на Пхи-Пхи Дон.
                                    li.charters__li Купание. Обед.
                                    li.charters__li Ужин и ночевка на яхте.
                                    li.charters__li 2-й день  - выход вокруг Пхи-Пхи Лей         
                                    li.charters__li.mb0 18:00  - Возвращение на Пхукет
                                .charters__bottom 
                                    p.charters__subtitle Включено
                                    li.charters__li.mb0 Фрукты, б/а напитки, обед
                            .charters__p.mb0 * 2000 THB за каждого доп.человека ** Ночевка на яхте, группа до 6 чел. взрослых
                            button(type="button").enable-lg.charters__button Закрыть
                    .charters__item.charters__item_5
                        .charters__wrappper 
                            span.charters__span Чартер
                            h2.charters__title Симиланские острова
                            button(type="button").charters__btn от  70 000 THB / 1 день
                            p.charters__p до 10 человек *
                            p.charters__p Национальный парк, который входит в десятку самых красивых островов планеты, привлекают своей безупречной чистотой, лазурным морем, белоснежными пляжами, отменным незабываемым снорклингом и  дайвингом.
                            .charters__content
                                .charters__top 
                                    p.charters__subtitle Программа
                                    li.charters__li 19:00  - Прибытие на яхту. Ужин.
                                    li.charters__li 21:00  - Выход. Ночевка на яхте.
                                    li.charters__li 9:00  - Прибытие на остров.
                                    li.charters__li Купание. Обед.
                                    li.charters__li 21:00  - Выход на Пхукет
                                    li.charters__li 9:00  - Прибытие. Купание. Обед
                                    li.charters__li.mb0 18:00  - Возвращение на берег.
                                .charters__bottom 
                                    p.charters__subtitle Включено
                                    li.charters__li.mb0 Фрукты, б/а напитки, обед
                            .charters__p.mb0 *   2000 THB за каждого доп.человека
                            button(type="button").enable-lg.charters__button Закрыть
                    .charters__item.charters__item_6
                        .charters__wrappper
                            h2.charters__title Эксклюзивная рыбалка 
                            button(type="button").charters__btn 40 000 THB / аренда яхты
                            p.charters__p до 10 человек *
                            .charters__content
                                .charters__bottom.border-r 
                                    p.charters__subtitle Включено
                                    li.charters__li.mb0 Фрукты, б/а напитки, обед
                            .charters__p.mb0 *   2000 THB за каждого доп.человека
                            button(type="button").enable-lg.charters__button Закрыть
                    .charters__item.charters__item_7
                        .charters__wrappper
                            h2.charters__title Вечеринка на яхте  
                            button(type="button").charters__btn 10 000 THB / аренда яхты
                            p.charters__p до 10 человек *
                            .charters__content
                                .charters__bottom.border-r 
                                    p.charters__subtitle Включено
                                    li.charters__li.mb0 Фрукты, б/а напитки, обед
                            .charters__p.mb0 * 1000/500 за доп.взрослого/ребенка
                            button(type="button").enable-lg.charters__button Закрыть
                    .charters__item.charters__item_8
                        .charters__wrappper
                            h2.charters__title Фотосессия
                            button(type="button").charters__btn 5 000 THB / 4 часа
                            p.charters__p до 10 человек *
                            .charters__content
                                .charters__bottom.border-r 
                                    p.charters__subtitle Включено
                                    li.charters__li.mb0 Фрукты, б/а напитки, обед
                            button(type="button").enable-lg.charters__button Закрыть
        script(src="js/app.min.js")