doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper
            .gallery  
                .gallery__grid 
                    .gallery__item.gallery__item_1 
                        span.gallery__span Чартер
                        p.gallery__title Остров Рача
                        button(type="button").gallery__price 50 000 THB
                        p.gallery__p до 10 человек * 
                    .gallery__item.gallery__item_2 
                        span.gallery__span Чартер
                        p.gallery__title Остров Корал
                        button(type="button").gallery__price 45 000 THB
                        p.gallery__p до 10 человек * 
                    .gallery__item.gallery__item_3 
                        span.gallery__span Чартер
                        p.gallery__title Майтон / Ко Кхай
                        button(type="button").gallery__price 50 000 THB
                        p.gallery__p до 10 человек * 
                    .gallery__item.gallery__item_4 
                        span.gallery__span Чартер
                        p.gallery__title Пхи-Пхи
                        .gallery__buttons
                            button(type="button").gallery__price 60 000 THB / 1 день
                            button(type="button").gallery__price 100 000 THB / 2 дня**
                        p.gallery__p до 10 человек * 
                    .gallery__item.gallery__item_5 
                        span.gallery__span Чартер
                        p.gallery__title Симиланские острова
                        button(type="button").gallery__price от  70 000 THB / 1 день
                        p.gallery__p до 10 человек * 
                    .gallery__item.gallery__item_6
                        p.gallery__title Эксклюзивная рыбалка 
                        button(type="button").gallery__price от  40 000 THB / аренда яхты
                        p.gallery__p группа до 6 чел.
                    .gallery__item.gallery__item_7
                        p.gallery__title Вечеринка на яхте  
                        button(type="button").gallery__price от  10 000 THB / аренда яхты
                        p.gallery__p до 10 чел.*
                    .gallery__item.gallery__item_8
                        p.gallery__title Фотосессия  
                        button(type="button").gallery__price 5 000 THB / 4 часа
                        p.gallery__p до 10 чел.*
        script(src="js/app.min.js")