doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/header-menu-open 
            +header-menu-open  
            .intro  
                .intro__body.container
                    h1.intro__title Незабываемый семейный отдых на яхте
                    .intro__pagination 
                        span.intro__pagination-bullet
                            span.intro__pagination-track
                        span.intro__pagination-bullet.active
                            span(style="width: 70%").intro__pagination-track
                        span.intro__pagination-bullet
                        span.intro__pagination-bullet
                        span.intro__pagination-bullet
                        span.intro__pagination-bullet
                        span.intro__pagination-bullet
        script(src="js/app.min.js")