doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            .pictures 
                .pictures__body
                    h2.pictures__title.enable-xl Галерея 
                    .pictures__item.pictures__item_1
                        img(src="@img/pictures-1.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_2 
                        img(src="@img/pictures-2.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_3 
                        img(src="@img/pictures-3.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_4 
                        img(src="@img/pictures-4.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_5 
                        img(src="@img/pictures-5.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_6.video 
                        a(href="https://youtube.com").pictures__play 
                            img(src="@img/pictures-play.svg", alt="" draggable="false" loading="lazy")
                        img(src="@img/pictures-6.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_7 
                        img(src="@img/pictures-7.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_8
                        img(src="@img/pictures-8.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_9.video.active 
                        a(href="https://youtube.com").pictures__play 
                            img(src="@img/pictures-play.svg", alt="" draggable="false" loading="lazy")
                        img(src="@img/pictures-9.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_10
                        img(src="@img/pictures-10.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_11
                        img(src="@img/pictures-11.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_12.video
                        a(href="https://youtube.com").pictures__play 
                            img(src="@img/pictures-play.svg", alt="" draggable="false" loading="lazy")
                        img(src="@img/pictures-12.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_13
                        img(src="@img/pictures-13.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_14
                        img(src="@img/pictures-14.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_15
                        img(src="@img/pictures-15.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_16
                        img(src="@img/pictures-16.png", alt="" draggable="false" loading="lazy")
                    .pictures__item.pictures__item_17
                        img(src="@img/pictures-17.png", alt="" draggable="false" loading="lazy")
                .intro__pagination.pictures 
                    span.intro__pagination-bullet
                        span.intro__pagination-track
                    span.intro__pagination-bullet.active
                        span(style="width: 70%").intro__pagination-track
                    span.intro__pagination-bullet
                    span.intro__pagination-bullet
                    span.intro__pagination-bullet
                    span.intro__pagination-bullet
                    span.intro__pagination-bullet
        script(src="js/app.min.js")